body {
  margin: 0px;
}

.bg-animation {
	background: linear-gradient(45deg, #4ade80, #0ea5e9, #d946ef, #bef264); 
	background-size: 400% 400%;
	animation: bg-gradient 5s ease infinite;
}

@keyframes bg-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
